<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__list-top">
        <a class="header__call-phone d-none d-md-block" href="tel:1900888866">
          Gọi tổng đài 1900.888.866
        </a>
        <a class="header__call-phone d-none d-md-block" target="_blank" rel="noreferrer" href="https://dkkham.bachmai.gov.vn/dat-lich">
          Đặt lịch khám
        </a>
        <a class="header__logo d-block d-md-none flex-1" href="/">
          <img src="/logo/logo-mobile.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="header__menu-top pt-2 pb-2 container mx-auto hidden md:flex items-center justify-between">
    <div class="header__logo">
      <a title="Trang chủ" href="/">
        <img src="/logo/logo.png" alt="">
      </a>
    </div>

    <div>
      <p>
        <img src="https://apicms.bachmai.gov.vn/images/2025/2/19/31d91cc4-154e-4bd7-95ac-73f0d09b8a47_0a710ded-f617-4516-a0d5-aa4692b2363f_mceu_92191181111739953645214.jpg"
             alt=""
             width="420"
             height="56">
      </p>
    </div>

    <div class="flex items-center space-x-8">
      <div class="header__search">
        <div class="input">
          <input type="text" placeholder="Từ khóa tìm kiếm..." value="">
          <div class="icon-search">
            <svg class="w-5 h-5 text-white">
              <use xlink:href="/assets/svgsprite/sprite.svg#icon-search"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    <div class="menu-mobile">
      <div class="container mx-auto text-center">
        <nav>
          <div class="hamburger">
            <svg class="w-6 h-6 text-white">
              <use xlink:href="/assets/svgsprite/sprite.svg#icon-menu"></use>
            </svg>
          </div>

          <ul class="list-menu">
            <li class="menu-item">
              <a class="menu-item-link" href="/">
                <span><span>Trang chủ</span></span>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="/gioi-thieu">
                <span><span>Giới thiệu</span></span>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="/co-cau-to-chuc">
                <span><span>Cơ cấu tổ chức</span></span>
              </a>
            </li>
            <li class="menu-item active-menu">
              <a class="menu-item-link" href="/doi-ngu-bac-si">
                <span><span>Đội ngũ bác sĩ</span></span>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="https://dkkham.bachmai.gov.vn/dat-lich">
                <span><span>Đặt lịch khám</span></span>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">
                <span><span>Tin tức</span></span>
                <div>
                  <svg class="w-4 h-4 text-main">
                    <use xlink:href="/assets/svgsprite/sprite.svg#icon-add"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="#">
                <span><span>Dành cho bệnh nhân</span></span>
                <div>
                  <svg class="w-4 h-4 text-main">
                    <use xlink:href="/assets/svgsprite/sprite.svg#icon-add"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="#">
                <span><span>Bach Mai Family</span></span>
                <div>
                  <svg class="w-4 h-4 text-main">
                    <use xlink:href="/assets/svgsprite/sprite.svg#icon-add"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="/chuyen-muc/thong-tin-tuyen-dung?id=d671d286-cb7e-4d1a-a742-d324ceef6158">
                <span><span>Thông tin tuyển dụng</span></span>
              </a>
            </li>
            <li class="menu-item menu-login">
              <a href="#">Đăng nhập</a>
            </li>

            <div class="d-flex justify-content-end flex-column h-100 pb-4">
              <div class="pl-4 pr-4">
                <a class="button-primary-outline w-100 text-center" href="tel:1900888866">
                  Gọi tổng đài 1900.888.866
                </a>
              </div>
              <div class="pl-4 pr-4">
                <a class="button-primary w-100 mt-2 text-center" href="https://dkkham.bachmai.gov.vn/dat-lich">
                  Đặt lịch khám
                </a>
              </div>
            </div>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

</body>
</html>